/* Global*/

html{
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
}
.contenedor{
  height: 100%
max-width: 1000px;
margin: 0 10px ;
display: flex;
flex-direction: column;
justify-content: space-between;
}

/* Header */
.inicio {
background-image: url(../img/background.jpg);
background-position: center center;
background-size: cover;

min-height: 120px
}
.barra {
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.navegacion a {
color: rgba(0, 0,0 , 1);
text-align: right;
text-decoration: none;
margin-right: 10px;
font-size: 1.3rem;
font-style: italic;

}
.navegacion a:hover{
  color: rgba(0, 0,0 , 0.6);
}
.navegacion a:last-of-type{
  margin: 0;
}
h1{
  font-size: 3rem;
}

#logo {
  height: 10rem;
  width: 10rem;
}
